<html>
<body>
<h2>VM provisioning was successful</h2>
<p>Hello ${givenName} ${surName},<br /><br />your VM provisioning to <strong>${provider}</strong> was successful.</p>
<p>Please use this data to connect to the server:<p>
<hr />
<p>Random ID: <strong>${random_id}</strong></p>
<p>Provisioning ID: <strong>${provisioning_id}</strong></p>
<p>Host: <strong>${host}</strong></p>
<p>Username: <strong>${username}</strong></p>
<hr />
<p>Best regards</p>
<p>Your Self Service Cloud Portal</p>
</body>
</html>