<html>
<body>
<h2>Error while destroying VM</h2>
<p>Hello ${givenName} ${surName},<br /><br />there was an error destroying your VM from <strong>${provider}</strong>.</p>
<p>See log file for additional details.<p>
<hr />
<p>Random ID: <strong>${random_id}</strong></p>
<p>Provisioning ID: <strong>${provisioning_id}</strong></p>
<hr />
<p>Best regards</p>
<p>Your Self Service Cloud Portal</p>
</body>
</html>