<html>
<body>
<h2>Error while destroying VM</h2>
<p>Hello,<br /><br />there was an error destroying your VM from <strong>${provider}</strong>.</p>
<p>See log file for additional details<p>
<p>Best regards</p>
<p>Your Self Service Cloud Portal</p>
</body>
</html>