<html>
<body>
<h2>Error while destroying VM</h2>
<p>Hello ${givenName} ${surName},<br /><br />there was an error destroying your VM from <strong>${provider}</strong>.</p>
<p>See log file for additional details.<p>
<hr />
<p>ID: <strong>${id}</strong></p>
<hr />
<p>Best regards</p>
<p>Your Self Service Cloud Portal</p>
</body>
</html>